{% comment %}
#
# This file is part of FreedomBox.
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
{% endcomment %}

{% load i18n %}

{% if port_forwarding_info %}
  <h3>{% trans "Port Forwarding" %}</h3>

  <p>
    {% blocktrans trimmed %}
      If your FreedomBox is behind a router, you will need to set up port
      forwarding on your router. You should forward the following ports for
      {{ service_name }}:
    {% endblocktrans %}
  </p>

  <ul>
    {% for port in port_forwarding_info %}
      <li>{{ port.0 }} {{ port.1 }}</li>
    {% endfor %}
  </ul>
{% endif %}
